.project_container {
    margin: 4rem;
    grid-template-columns: 40% 50% 10%;
    align-items: baseline;
}

.project .content{
    width: 40%;
}

.slide_icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.projects .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}