.about {
  padding-top: 4rem;
  margin-left: 0;
  margin-right: 0;
}

.about.container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.about .scroll {
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .about {
    padding-top: 4%;
  }
  .about.container {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: .25rem;
  }
  .description {
    margin-bottom: 4%;
  }
  .about .scroll {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}
