/* .home__container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #f3f3f3;
} */

.home__content {
  display: flex;
  padding-top: 4rem;
  column-gap: 2rem;
  align-items: center;
}

.home_title {
  font-size: var(--big-font-size);
  margin-top: var(--mb-0-25);
}

.home_subtitle {
  position: relative;
  font-size: var(--h3-font-size);
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
}

.home_description {
  max-width: 400px;
  margin-bottom: var(--mb-2);
}

.home_social {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
}

.icon {
  font-size: 1.5rem;
  color: var(--title-color);
}

.button_icon {
    font-size: 1.5rem;
    margin-left: 0.5rem;
}

@media screen and (max-width: 768px){
    .home__content{
        padding-top: 0;
    }
}

.animate_img{
    animation: profile 4s ease-in-out infinite 1s;
}

@keyframes profile {
    0% {
        transform: rotate(0deg);
    }
    33% {
        transform: rotate(10deg);
    }
    66% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(0deg);
    }
}