
.home__content {
  display: flex;
  padding-top: 4rem;
  column-gap: 2rem;
  align-items: center;
}

.home_title {
  font-size: var(--big-font-size);
  margin-top: var(--mb-0-25);
}

.home_subtitle {
  position: relative;
  font-size: var(--h3-font-size);
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-1);
}

.home_description {
  max-width: 400px;
  margin-bottom: var(--mb-2);
}

.home_social {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
}

.icon {
  font-size: 1.5rem;
  color: var(--title-color);
}

.button_icon {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.home_scroll {
  margin-top: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: flex-end;
}

.scroll-icon {
  color: var(--title-color);
  font-size: 2rem;
  margin-left: 0.5rem;
}

.scroll-name {
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
  margin-left: 2px;
}

.scroll-icon :hover {
  color: var(--title-color-dark);
  font-weight: var(--font-semibold);
}

.animate_img {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .home__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 2rem;
    position:relative;
  }
  .animate_img {
    position: absolute;
    right: 40%;
    opacity:0.5;
  }

  .home_data {
    width: 60%;
    position: relative;
  }

  .home_title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semibold);
    margin-top: var(--mb-0-15);
  }

  .home_subtitle {
    position: relative;
    font-size: var(--small-font-size);
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-0-5);
  }

  .home_description {
    font-size: var(--mini-font-size);
    max-width: 400px;
    margin-bottom: var(--mb-1);
  }

  .button_icon {
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  .button{
    font-size: var(--mini-font-size);
    padding: 0.5rem 1rem;
  }
  .home_social{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    gap: 1rem;
  }
  .home_scroll {
    margin-top: 0.5rem;
    padding-left: 1rem;
    margin-bottom: 5rem;
    display: flex;
    justify-content: flex-end;
  }

  .scroll-name {
    color: var(--title-color);
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    margin-right: var(--mb-0-25);
    margin-left: 2px;
  }
  .scroll-icon {
    color: var(--title-color);
    font-size: var(--normal-font-size);
    margin-left: 0rem;
  }
}

.animate_img {
  animation: profile 4s ease-in-out infinite 1s;
}

@keyframes profile {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

