
.home__content {
  display: flex;
  padding-top: 4rem;
  column-gap: 2rem;
  align-items: center;
}

.home_social {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2rem;
}

.icon {
  font-size: 1.5rem;
  color: var(--title-color);
}

.button_icon {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.animate_img {
  width: 100%;
}

.home .scroll{
  margin-top: 2rem;
}

@media screen and (max-width: 768px) {
  .home__content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 2rem;
    position:relative;
  }
  .animate_img {
    position: absolute;
    right: 40%;
    opacity:0.5;
  }

  .home_data {
    width: 60%;
    position: relative;
  }

  .button_icon {
    font-size: 1rem;
    margin-left: 0.5rem;
  }

  .button{
    font-size: var(--mini-font-size);
    padding: 0.5rem 1rem;
  }
  .home_social{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    gap: 1rem;
  }
  .home .scroll{
    margin-top: 1.5rem;
  }
}

.animate_img {
  animation: profile 4s ease-in-out infinite 1s;
}

@keyframes profile {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(10deg);
  }
  66% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

