/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --header-height: 3rem;
  /* color */
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 20%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 40%);
  --body-color: hsl(var(--hue), var(--sat), 95%);
  --container-color: #fff;

  /* font */
  --body-font: 'Poppins', sans-serif;
  
  /* text size */
  --big-font-size: 3rem;
  --h1-font-size: 2.5rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
  --small-font-size: 0.875rem;
  --smaller-font-size: 0.8rem;
  --mini-font-size: 0.625rem;

  /* font weight */
  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;

  /* spacing */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;

  /* index */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* base */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, button, input, textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3 {
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* class */
.section {
  padding: 4rem 0 2rem;
}

.title .subtitle {
  text-align: center;
}

.title{
  font-size: var(--h1-font-size);
  color: var(--title-color);
  margin-top: var(--mb-0-25);
}

.subtitle {
  color: var(--title-color);
  display: block;
  font-size: var(--h3-font-size);
  font-weight: var(--font-normal);
  margin-bottom: var(--mb-0-5);
  margin-bottom: var(--mb-1);
} 

.description {
  margin-bottom: var(--mb-2);
  margin-left: auto;
  margin-right: auto;
}

/* layout */
.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 2rem;
}

/* button */
.button {
  display: inline-block;
  background-color: var(--title-color);
  color: var(--container-color);
  padding: 1rem 1.75rem;
  border-radius: 0.75rem;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: var(--title-color-dark);
}

.button__icon {
  margin-left: var(--mb-0-5);
}

.button--flex {
  display: inline-flex;
  align-items: center;
}

/* scroll */
.scroll {
  margin-top: 0.5rem;
  padding-left: 1rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: flex-end;
}

.scroll-icon {
  color: var(--title-color);
  font-size: 2rem;
}

.scroll-name {
  color: var(--title-color);
  font-weight: var(--font-medium);
  margin-right: var(--mb-0-25);
  margin-left: 2px;
}

.scroll-icon :hover {
  color: var(--title-color-dark);
  font-weight: var(--font-semibold);
}

@media screen and (max-width: 990px) {
  :root {
    --big-font-size: 2.5rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.925rem;
    --small-font-size: 0.8rem;
    --smaller-font-size: 0.75rem;
    --mini-font-size: 0.625rem;
  }
}

@media screen and (max-width: 990px) {
  .container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
  }
}

@media screen and (max-width: 768px) {
  .container {
    margin-left: 0;
  }
  .section{
    padding: 0;
  }
  .title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semibold);
    margin-top: var(--mb-0-15);
  }

  .subtitle {
    position: relative;
    font-size: var(--small-font-size);
    font-weight: var(--font-normal);
    margin-bottom: var(--mb-0-5);
  }

  .description {
    font-size: var(--mini-font-size);
    max-width: 400px;
    margin-bottom: var(--mb-1);
  }
  
  .scroll-icon {
    color: var(--title-color);
    font-size: var(--smaller-font-size);
  }
  
  .scroll-name {
    color: var(--title-color);
    font-size: var(--mini-font-size);
    font-weight: var(--font-medium);
    margin-right: 0;
    margin-left: 2px;
  }
  
  .scroll-icon :hover {
    color: var(--title-color-dark);
    font-weight: var(--font-semibold);
  }
}